/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

#main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #4CAF50; /* Cor verde */
    text-align: center; /* Alinhamento central */
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Margem inferior */
    padding: 10px; /* Espaçamento interno */
    background: linear-gradient(to right, #4CAF50, #ffffff); /* Gradiente suave */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transição suave no hover */
}

/* Hover do título */
#main-title:hover {
    transform: scale(1.1); /* Aumenta o título levemente */
}

#main-title a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do título */
    font-weight: bold; /* Deixa o link em negrito */
}

/* Efeito ao passar o mouse sobre o link */
#main-title a:hover {
    color: #007e28; /* Cor laranja ao passar o mouse */
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: green;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para as barras de progresso fora da tabela */
.progress-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.progress-item {
    width: 30%;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    line-height: 20px; /* Para centralizar o texto verticalmente */
}

.progress-0 {
    background-color: red;
}

.progress-50 {
    background-color: orange;
}

.progress-100 {
    background-color: green;
}

/* Melhorando a responsividade para dispositivos móveis  */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    .progress-item {
        width: 100%;
    }
}

/* Definir a proporção de 16:9 para o iframe */
.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporção 16:9 (altura:largura) */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Estilo do botão */
#toggle-table-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Para o botão se alinhar com outros elementos */
    font-size: 16px; /* Tamanho da fonte */
    margin: 10px 0; /* Margem ao redor do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    border-radius: 12px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave de cor ao passar o mouse */
  }
  
  /* Efeito ao passar o mouse sobre o botão */
  #toggle-table-button:hover {
    background-color: #45a049; /* Cor de fundo mais escura */
  }
  
  /* Estilo da tabela */
  #data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; /* Tabela começa escondida */
  }
  
  /* Estilo das células da tabela */
  #data-table td, #data-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo do cabeçalho da tabela */
  #data-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  